.jimu-widget-draw{
	width: 100%;
	height: 100%;
	min-width: 270px;
	min-height: 192px;
	font-size: 14px;
}

.jimu-widget-draw .measure-section{
	display: none;
	width: 100%;
	margin-top: 12px;
}

.jimu-widget-draw .area-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-draw .area-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-draw .distance-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-draw .distance-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-draw .dijitArrowButtonContainer{
	width: 40px;
}

.jimu-widget-draw .dijitSelect{
	height: 40px;
	width: 100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-draw .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner{
	width:100%;
}
.jimu-widget-draw .footer{
	display: none;
	width: 100%;
	margin: 12px 0 12px 0px;
}
/* File Upload Section */
.jimu-widget-draw .file-upload-form {
    display: none;
	width: 100%;
}

/*Buffer Section*/
.buffer-icon{
	background:transparent url("../images/BufferIcon.png") center center no-repeat ;
}
.mousetip {
    background-color: white;
    border: 1px solid #7EABCD;
    border-radius: 4px 4px 4px 4px;
    font-size: 9pt;
    padding: 5px;
    position: absolute;
    width: 114px;
    z-index: 9999;
}

.jimu-widget-draw .buffer-section{
	display: none;
	width: 100%;
	margin-top: 12px;
}
.jimu-widget-draw .buffer-distance-tip{
	height: 30px;
	line-height: 30px;
}

.jimu-rtl .jimu-widget-draw .buffer-units-tip{
	padding-left: 0;
	padding-right: 17px;
}
.jimu-widget-draw .buffer-select {
    float:left !important;
    margin-left:30px;
}
.esriSymbolEditor {
    display:none !important;
}
.measure-loading {
    background:#fff url("../images/measure-loader.gif") center center no-repeat ;
}