.jimu-widget-draw-setting {
    font-size:14px;
    color:#7989a0;
}
.jimu-widget-draw-setting .btn-add-section{
  display:inline-block;
  overflow:hidden;
  height:24px;
  margin-left:1px;
  margin-bottom:3px;
  cursor:pointer;
  font-size:13px;
  color:#538ec8;
  margin-top:8px;
}

.jimu-widget-draw-setting .btn-add-section .btn-add-icon{
  height:100%;
  width:14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
}

.jimu-widget-draw-setting .btn-add-section .btn-add-label{
  height:100%;
  line-height:24px;
  vertical-align:middle;
  margin-left:7px;
  text-decoration: underline;
}

.jimu-rtl .jimu-widget-draw-setting .btn-add-section .btn-add-label{
  margin-left: 0;
  margin-right: 7px;
}
.include-export-import {
    background-color: #eef2f5;
    color: #6f7e95;
    margin-bottom: 10px;
    padding: 10px;
}
.export-import-setting {
    position:relative;
    width:100%;
    margin-bottom:20px;
    border-top:1px solid #ccc;
    float:left;
}
.export-import-setting table td.first{
  width:auto;
  text-align: left;
  padding-right:15px;
  padding-top:10px;
  min-width: 200px;
}

.export-import-setting table td.second{
  width:650px;
  padding-top:10px;
}

.buffer-setting,.units-setting,.picture-marker-setting {
    position:relative;
    width:100%;
    float:left;
}

